<% if @repositories.any? %>
  <table class="table table-striped">
    <tr>
      <th><input type="checkbox"></th>
      <th>ID</th>
      <th>Name</th>
      <th>Last Job</th>
    </tr>
    <% @repositories.each do |repo| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= repo.id %></td>
        <td><%= link_to repo.name, repo %></td>
        <td>
          <% if repo.job %>
            <span class="badge badge-secondary"><%= link_to repo.job.state, repo.job, class: "text-light" %></span>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
