<% if @repositories.any? %>
  <table class="table table-striped">
    <colgroup>
      <col width="10%">
      <col width="35%">
      <col width="35%">
      <col width="20%">
    </colgroup>
    <tr>
      <th><input type="checkbox"></th>
      <th>Name</th>
      <th>Last Job</th>
      <th>Actions</th>
    </tr>
    <% @repositories.each do |repo| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= repo.name %></td>
        <td>
          <% if repo.job %>
            <%= link_to repo.job, class: 'text-light' do %>
              <%= state_badge repo.job.state %>
            <% end %>
          <% else %>
            -
          <% end %>
        </td>
        <td><%= link_to 'Show', repo %></td>
      </tr>
    <% end %>
  </table>
<% end %>
