<h3>Repository</h3>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <td><%= @repository.name %></td>
  </tr>
  <tr>
    <th>URL</th>
    <td><%= link_to @repository.url, @repository.url %></td>
  </tr>
</table>

<hr>

<h3>Jobs</h3>

<%= render 'jobs/list' %>
