<% if @jobs.any? %>
  <table class="table table-striped">
    <tr>
      <th><input type="checkbox"></th>
      <th>ID</th>
      <th>Repo</th>
      <th>State</th>
    </tr>
    <% @jobs.each do |job| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= job.id %></td>
        <td><%= link_to job.repository.name, job.repository %></td>
        <td><span class="badge badge-secondary"><%= job.state %></span></td>
      </tr>
    <% end %>
  </table>
<% end %>
