<table class="table table-striped">
  <colgroup>
    <col width="10%">
    <col width="20%">
    <col width="20%">
    <col width="20%">
    <col width="30%">
  </colgroup>
  <tr>
    <th><input type="checkbox"></th>
    <th>Repo</th>
    <th>Name</th>
    <th>State</th>
    <th>Actions</th>
  </tr>
  <% if @jobs.any? %>
    <% @jobs.each do |job| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= job.repository.name %></td>
        <td><%= job.name %></td>
        <td><%= state_badge job.state %></td>
        <td><%= link_to 'Show', job, class: 'btn btn-sm btn-secondary' %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5" class="text-center">
        No records found.
      </td>
    </tr>
  <% end %>
</table>
